.auther-name{
	font-size: 36px;
	padding-top: 32px;
	margin-bottom: 98px;
	font-weight: bold;
	position: relative;
}
.auther-name:before{
	content: '';
	position: absolute;
	width: 98%;
	height: 2px;
	background: #f15a31;
	bottom: -18px;
}
.masitong:before{
width: 93px;
}
.auther-dis{
	width: 485px;
	line-height: 30px;
	font-size: 16px;
}
shishangjituan-pic{
	overflow: hidden;
}
.masitong-wrap{
	height: 540px;
}
.shishangjituan-pic img{
	height: 100%;
	width: 100%;
}
.pic1{
	width: 540px;
	height: 540px;	
	position: absolute;
	top:0;
	right: 0;
}
.pic2{
	width: 540px;
	height: 540px;
	margin: 140px auto 135px;	
}
.yushimeng-wrap{
	height: 610px;
	position: relative;

}
.pic3{
	height: 610px;
	width: 535px;
}
.pic4{
	width: 340px;
	height: 440px;
	position: absolute;
	top:120px;
	right: 0;
}
.caomengxi-wrap{
	height: 990px;
	background: #f5f5f5;
	color:#fff;
	position: relative;
	margin-top:170px;
}
.caomengxi-dis{
	height: 380px;
	background: #f15a31;
	padding: 0 88px;

}
.caomengxi-name{
	padding: 50px 0 24px;
	font-size: 36px; 
	text-align: center;
}
.caomengxi-dis .content{
	font-size: 16px;
	line-height: 30px;
}
.pic5{
	width: 350px;
	height: 350px;
	position: absolute;
	left: 180px;
	top:260px;
}

.pic6{
	width: 342px;
	height: 475px;
	position: absolute;
	right: 180px;
	top:340px;
}

.pic7{
	width: 450px;
	height: 325px;
	position: absolute;
	left:0;
	bottom: 0;
}
.kongnannan-wrap{
	height: 540px;
	margin-top: 200px;
	position: relative;
}
.pic8{
	height: 422px;
	width: 340px;
	position: absolute;
	left: 0;
	top:117px;
}
.pic9{
	height: 540px;
	width: 540px;
}
.cuixiaojing-wrap{
	height: 750px;
	position: relative;
	margin-top:224px;
}
.pic10{
	height: 710px;
	width: 540px;
}
.pic11{
	width: 384px;
	height: 524px;
	position: absolute;
	right: 0;
	top:230px;
}
.cuixiaojing-cont{
	font-size: 16px;
	line-height: 30px;
	padding-top: 86px;
	width: 384px;
	font-weight: bold;
}
.zhangwei-wrap{
	height: 730px;
	position: relative;
	margin:230px 0 150px;
}
.pic12{
	height: 345px;
	width: 345px;
	margin-left: 180px;
}
.pic13{
	position: relative;
	top:82px;
	height: 474px;
	width: 344px;
}
.pic14{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 324px;
	width: 450px;
}
.zhangwei-cont{
	width: 344px;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 136px;
}
.zhangwei-name{
	font-size: 36px;
	font-weight: bold;
}
.zhangwei-dis{
	font-size: 16px;
	margin-top: 36px;
}
.zhangwei-point{
	height: 30px;
	width: 30px;
	position: absolute;
	right: 0;
	top:0;
	cursor: pointer;
}
.caomengxi-point{
	height: 30px;
	width: 30px;
	position: absolute;
	right: 180px;
	bottom: 106px;
	cursor: pointer;
}