.wangdaren-banner-left {
	margin-right: 65px;
}
.wangdaren-pic2-wrap,.wangdaren-pic5-wrap,.wangdaren-pic11-wrap,.wangdaren-pic14-wrap{
	margin-bottom: 66px;
}
.wangdaren-pic3-wrap,.wangdaren-pic6-wrap,.wangdaren-pic12-wrap,.wangdaren-pic15-wrap{
	margin-bottom: 89px;
}